.chat-item {
  border-bottom: 1px solid var(--color-red);
  transition: all ease .2s;
  cursor: pointer;
  padding: 12px 0;

  &:hover {
    background: #1A1A1A;
  }

  &__wrapper {
    display: flex;
  }

  &__photo {
    flex: 0 0 47px;
    width: 47px;
    height: 47px;
    background: #242424;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__photo-fake {}

  &__content {
    width: 100%;
    position: relative;
    padding-right: 40px;
  }

  &__name {
    color: #9BC2C1;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &__preview {}

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    color: #999999;
  }
}

.you-prefix {
  color: #9BC2C1;
  font-weight: bold;
  margin-right: 3px;
}

.messages-notification {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-red);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}