.messages-handle {
  padding-top: 15px;
  border-top: 1px solid var(--color-red);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__media {
    position: relative;
  }

  &__media-add {
    svg {
      fill: #999999;
      transition: all ease .2s;
    }

    &:hover {
      svg {
        fill: var(--color-red);
      }
    }
  }

  &__media-content {
    bottom: calc(100% + 30px);
    left: 0;
  }

  &__input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: attr(data-error);
      position: absolute;
      bottom: calc(0px - 12px);
      font-size: 9px;
      line-height: 1;
      left: 20px;
      color: var(--color-red);
    }
  }

  &__input-text {
    display: block !important;
    width: 100% !important;
    padding: 10px 20px !important;
    background: #1A1A1A;
    border-radius: 30px;
    color: #fff;
    border: 1px solid #1a1a1a !important;
    outline: none;
    margin: 0 20px !important;

    &:hover {
      border: 1px solid var(--color-red);
    }

    &:focus {
      border: 1px solid var(--color-red);
    }
  }

  &__input-btn {
    button {
      padding: 0;
      flex: 0 0 28px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: var(--color-red);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.btn-reset {}

.cloud-window {

  &__list {}

  &__elem {}
}
