<div class="messages-header">
	<div class="messages-header__wrapper">
		<div class="messages-header__user">
			<div class="messages-header__user-photo">
				{{#if src}}
<<<<<<< HEAD
					<img src="{{src}}" alt="" />
=======
					<img src="{{src}}" alt="user photo" />
>>>>>>> dev
				{{else}}
					<span class="messages-header__photo-fake"></span>
				{{/if}}
			</div>
			<div class="messages-header__user-name">{{user-name}}</div>
		</div>
		<div class="messages-header__settings">
			<div class="btn-reset messages-header__settings-btn active">
				<button>
					<span></span>
<<<<<<< HEAD
					<span></span>
=======
					<span></span> 
>>>>>>> dev
					<span></span>
				</button>
			</div>
      <div class="messages-header__settings-content cloud-window">
      	<ul class="cloud-window__list">
          	<li class="cloud-window__elem">
<<<<<<< HEAD
              {{> 'messages-setting-item/messages-setting-item' src="../../static/icons/add-icon.svg"setting-name="Добавить пользователя"}}
            </li>
			  		<li class="cloud-window__elem">
              {{> 'messages-setting-item/messages-setting-item' src="../../static/icons/delete-icon.svg"setting-name="Удалить пользователя"}}
            </li>
			  		<li class="cloud-window__elem">
              {{> 'messages-setting-item/messages-setting-item' src="../../static/icons/delete-icon.svg"setting-name="Удалить чат"}}
=======
              {{> 'messages-setting-item/messages-setting-item' src="../../static/icons/add-icon.svg" alt="add-icon" setting-name="Добавить пользователя"}}
            </li>
			  		<li class="cloud-window__elem">
              {{> 'messages-setting-item/messages-setting-item' src="../../static/icons/delete-icon.svg" alt="delete-icon" setting-name="Удалить пользователя"}}
            </li>
			  		<li class="cloud-window__elem">
              {{> 'messages-setting-item/messages-setting-item' src="../../static/icons/delete-icon.svg" alt="delete-icon" setting-name="Удалить чат"}}
>>>>>>> dev
            </li>
			  </ul>
      </div>
    </div>
	</div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> dev
