<div class="profile-item">
  <div class="profile-item__wrapper">
    <div class="profile-item__label">
      {{label}}
    </div>
    <input class="profile-item__input" 
    type="{{type}}"
		name="{{name}}"
    value="{{value}}"
		{{#if readonly}}
      readonly
    {{/if}}
    />
  </div>
</div>
