.profile-item {

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    margin-right: 15px;
    color: var(--color-red);
    font-weight: bold;
  }

  &__input {
    color: #999;
    background: none;
    border: none;
    text-align: right;
    outline: none;
  }
}