.messendger {

  &__aside {
    width: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 10px 19px;
    border-right: 1px solid var(--color-red);
  }

  &__aside-logo {
    margin-bottom: 40px;
  }

  &__aside-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__aside-elem {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__aside-link {
    position: relative;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: attr(data-text);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      white-space: nowrap;
      background: #1A1A1A;
      border: 1px solid var(--color-red-second);
      color: var(--color-red);
      left: calc(100% + 5px);
      opacity: 0;
      pointer-events: none;
      transition: all ease .3s;
      z-index: 2;
      padding: 5px 10px;
      border-radius: 10px;
    }

    svg {
      transition: all ease .2s;
      fill: var(--color-red-second);

      &:hover {
        fill: var(--color-red);
      }
    }
  }

  &__aside-top {
    margin-bottom: 30px;
  }
}

.add-chat__btn {
  width: 100%;
  position: relative;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    white-space: nowrap;
    background: #1A1A1A;
    border: 1px solid var(--color-red-second);
    color: var(--color-red);
    left: calc(100% + 5px);
    opacity: 0;
    pointer-events: none;
    transition: all ease .3s;
    z-index: 2;
    padding: 5px 10px;
    border-radius: 10px;
  }

  svg {
    stroke: var(--color-red-second);
    display: block;
    width: 100%;
    height: auto;
    transition: all ease .2s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    svg {
      stroke: var(--color-red);
    }
  }


}