.messendger {
  min-height: 100vh;
  background: #121212;

  &__wrapper {
    display: flex;
    min-height: 100%;
  }

  &__chats {
    min-width: 310px;
    width: 20vw;
    border-right: 1px solid var(--color-red);
    padding: 29px 10px 19px;
  }

  &__chats-content {
    width: 100%;
  }

  &__content {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__content-messages {
    flex-grow: 1;
  }
}

.messandger-content {
  width: 80vw;
  height: 100%;

  &_empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__description {
    text-align: center;
    color: #999999;
  }
}

.chat-messages {

  &__body {
    padding: 20px 15px;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__date {
    text-align: center;
    font-size: 15px;
  }
}

.chat-messages {
  overflow: auto;
  height: 80vh;
  min-height: 300px;

  &__message {
    position: relative;
    max-width: 400px;
    width: fit-content;
    background: #1A1A1A;
    box-shadow: 5px 5px 16px rgba(181, 0, 0, 0.26);
    padding: 11px 11px 30px;
    border-radius: 10px;
    border: 1px solid #1A1A1A;
    min-width: 120px;

    &_your {
      margin-left: auto;
      margin-right: 0;
      border: 1px solid #9BC2C1;

      .chat-messages__message-time {
        &::before {
          content: url('../../static/icons/readed.svg');
        }
      }
    }
  }

  &__message-text {
    line-height: 1.4;
  }

  &__message-time {
    position: absolute;
    bottom: 11px;
    right: 11px;
    color: #999999;
  }

  &__message_media {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
    padding: 0;

    .chat-messages__message-time {
      position: absolute;
      bottom: 11px;
      right: 11px;
      color: #fff;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      padding: 2px 5px;
    }
  }

  &__message-img {
    width: fit-content;
  }
}
