@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --color-red: #B50000;
  --color-red-second: rgba(181, 0, 0, 0.65);
  --color-dark: #121212;
  --shadow: 5px 5px 16px 1px rgba(181, 0, 0, 0.26);
}

html,
body {
  height: 100%;
  box-sizing: border-box;

}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all ease .2s;

  &:hover {
    color: var(--color-red);
  }
}

body {
  font-family: 'Orbitron', 'Play', sans-serif;
  background: #242424;
  color: #fff;
  font-size: 13px;
  line-height: 1.2;
}

.btn {

  button,
  a {
    cursor: pointer;
    display: block;
    max-width: 280px;
    width: 100%;
    color: #fff;
    font-family: inherit;
    background: var(--color-red-second);
    transition: all ease .2s;
    margin: 0 auto;
    outline: none;
    text-align: center;
    border-radius: 8px;
    padding: 12px 50px;
    border: none;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &:hover {
      background: var(--color-red);
    }
  }
}

.btn-reset {

  button,
  a {
    display: block;
    font-family: inherit;
    color: var(--color-red);
    transition: all ease .2s;
    border: none;
    background: none;
    outline: none;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: var(--color-red);
      background: none;
      box-shadow: none;
    }
  }
}

.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 15px;

  &__title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    color: var(--color-red);
  }

  &__list {
    font-size: 20px;
  }

  &__list-elem {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list-link {}
}

#app {
  min-height: 100vh;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-red-second) #1A1A1A;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #1A1A1A;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-red-second);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-red-second);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-red-second);
}
