{{!< base}}

<section class="error-page">
	<div class="error-page__content">
		<div class="error-page__code">404</div>
		<div class="error-page__descr">Не туда попали</div>
		<a href="/" class="error-page__link">
			Back to page
		</a>
	</div>
</section>