{{!< base}}

<section class="error-page">
	<div class="error-page__content">
<<<<<<< HEAD
		<div class="error-page__code">500</div>
		<div class="error-page__descr">Мы уже фиксим</div>
=======
		{{> 'title/title' text="500" addClass="error-page__code"}}
		<p class="error-page__descr">Мы уже фиксим</p>
>>>>>>> dev
		<a href="/" class="error-page__link">
			Back to page
		</a>
	</div>
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> dev
