{{!< base}}
	<div class="messendger__wrapper">
    {{> 'aside/aside'}}
    <div class="messendger__profile profile">
      <div class="profile__content">
        <form action="">
          <div class="profile__top">
            <div class="profile__avatar">
              <input type="file" name="avatar" class="profile__avatar-input">
<<<<<<< HEAD
              <img class="fake-img" src="../../static/fake-img.png" alt="" />
=======
              <img class="fake-img" src="../../static/fake-img.png" alt="fake img" />
>>>>>>> dev
				    </div>
          </div>
          <div class="profile__body">
            <div class="profile__fields">
              <div class="profile__row">
                {{> 'profile-item/profile-item' label="Old password" value="pochta@yandex.ru" name="oldPassword" type="password" }}
              </div>
              <div class="profile__row">
                {{> 'profile-item/profile-item' label="New password" value="12345678" name="newPassword" type="password" }}
              </div>
              <div class="profile__row">
                {{> 'profile-item/profile-item' label="Repeat new password" value="12345678" name="newPassword_repeat" type="password" }}
              </div>
            </div>
            <div class="profile__handle">
<<<<<<< HEAD
              {{> 'button/button' btn-text='Save change'}}
=======
              {{> 'button/button' type="submit" btn-text='Save change'}}
>>>>>>> dev
            </div>
          </div>
        </form>
      </div>
    </div>
	</div>
