{{!< base}}
<div class="modals">
	<div class="modal">
		<div class="modal__title">Add user</div>
		<div class="modal__body">
			{{> "input/input" name="login" label-text="Login" placeholder=""}}
		</div>
		<div class="modal__footer">
			{{> "button/button" btn-text="Add user"}}
		</div>
	</div>
	<div class="modal">
		<div class="modal__title">Delete user</div>
		<div class="modal__body">
			{{> "input/input" name="login" label-text="Login" placeholder=""}}
		</div>
		<div class="modal__footer">
			{{> "button/button" btn-text="Delete user"}}
		</div>
	</div>
</div>
