{{!< base}}
  <div class="form-container">
    <div class="form-container__block">
      <form action="">
        {{> 'title/title' tag="h2" text="Registration" addClass="form-container__title"}}
        <div class="form-container__fields">
          {{> 'input/input' label-text="Email" name="email" placeholder=""}}
          {{> 'input/input' label-text="Login" name="login" placeholder=""}}
          {{> 'input/input' label-text="Name" name="first_name" placeholder=""}}
          {{> 'input/input' label-text="Surname" name="second_name" placeholder=""}}
          {{> 'input/input' label-text="Phone" name="phone" placeholder=""}}
          {{> 'input/input' label-text="Password" name="password" type="password" placeholder=""}}
          {{> 'input/input' label-text="Confirm Password" name="password_confirm" type="password" placeholder=""}}
        </div>
        <div class="form-container__btns">
          {{> 'button/button' type="submit" btn-text="Register"}}
          {{> 'button/button' href="/" addClass="btn-reset" btn-text="Sign in"}}
        </div>
      </form>
    </div>
  </div>  
