<div class="search {{addClass}}">
	<div class="btn-reset search__btn">
		<button>
			<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.59236 8.41383C6.16044 9.84576 3.83883 9.84576 2.40691 8.41383C0.974987 6.98191 0.974987 4.66031 2.40691 3.22838C3.83883 1.79646 6.16044 1.79646 7.59236 3.22838C9.02428 4.66031 9.02428 6.98191 7.59236 8.41383ZM8.03274 9.7968C6.07252 11.2962 3.25693 11.1495 1.4641 9.35664C-0.488522 7.40402 -0.488521 4.2382 1.4641 2.28558C3.41672 0.332954 6.58255 0.332954 8.53517 2.28558C10.3279 4.07832 10.4747 6.89374 8.97552 8.85396L12.5422 12.4207L11.5994 13.3635L8.03274 9.7968Z" fill="#E9262C"/></svg>
		</button>
	</div>
	<input class="search__input" type="text" placeholder="Search..." />
</div>
