<div class="search {{addClass}}">
	<div class="btn-reset search__btn">
		<button>
			<img src="../../../static/icons/lupe.svg" alt="search" />
		</button>
	</div>
	<input class="search__input" type="text" placeholder="Search..." />
</div>
