<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./styles/style.css" />
	</head>
	<body>
		<div class="main">
			<h1 class="main__title">Welcome to the <b>HELLSENDGER</b></h1>
<<<<<<< HEAD
			<ul class="main__list">
				<li class="main__list-elem">
					<a href="./pages/singIn.hbs" class="main__list-link">Sign In Page</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/register.hbs" class="main__list-link">Registration
						Page</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/emptyChat.hbs" class="main__list-link">Empty Chat</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/openedChat.hbs" class="main__list-link">Opened Chat</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/profile.hbs" class="main__list-link">Profile</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/profileChange.hbs" class="main__list-link">Profile
						Changed</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/changePassword.hbs" class="main__list-link">Change
						Password</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/404.hbs" class="main__list-link">404</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/500.hbs" class="main__list-link">500</a>
				</li>
				<li class="main__list-elem">
					<a href="./pages/modals.hbs" class="main__list-link">Modal</a>
				</li>
			</ul>
		</div>
	</body>
</html>
=======
			<nav class="main__nav">
				<ul class="main__list">
					<li class="main__list-elem">
						<a href="./pages/singIn.hbs" class="main__list-link">Sign In Page</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/register.hbs" class="main__list-link">Registration
							Page</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/emptyChat.hbs" class="main__list-link">Empty Chat</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/openedChat.hbs" class="main__list-link">Opened Chat</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/profile.hbs" class="main__list-link">Profile</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/profileChange.hbs" class="main__list-link">Profile
							Changed</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/changePassword.hbs" class="main__list-link">Change
							Password</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/404.hbs" class="main__list-link">404</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/500.hbs" class="main__list-link">500</a>
					</li>
					<li class="main__list-elem">
						<a href="./pages/modals.hbs" class="main__list-link">Modal</a>
					</li>
				</ul>
			</nav>
		</div>
	</body>
</html>
>>>>>>> dev
