<html>

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../styles/style.css" />
		<title>
			Hellsendger
		</title>
	</head>
	<body>
		<main class="messendger">
			<div class="messendger__wrapper">
				{{> 'aside/aside'}}
				<div class="messendger__chats">
					{{> 'search/search' addClass="messendger__chats-search"}}
					<ul class="messendger__chats-list">
						{{#each chats}}
  					  <li class="messendger__chats-elem">
  					    {{> 'chat-item/chat-item' chat-name=this.name chat-preview=this.preview src=this.src isYour=this.isYour notification=this.notification last-time=this.time}}
  					  </li>
  					{{/each}}
					</ul>
				</div>
				{{{body}}}
			</div>
		</main>
	</body>
</html>





